/*
 :root {
     --universal-margin: .25rem;
     --universal-padding: .5rem;
     --back-color: #f0f0f0;
 }

 .card.small h2 {
     margin-top: -9px;
 }

 button {
    font-size: calc(0.75rem * var(--heading-ratio));
    width: 100%;
    text-align: left;
    max-width: 240px;
 }
 */

.button.main {
    width: 95%;
    padding: 40px 15px;
}

#dropzone {
    border: 0.125rem solid #ddd;
    background: var(--back-color);
    color: var(--secondary-fore-color);
    transition: background 0.05s;
    cursor: default !important;
}

.responsive-label {
    align-items: center;
}

.responsive-label.col-md-3 {
    text-align: right;
}

/*
#dropzone {
    padding: 24px;
    border-style: dashed;
}
*/